@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh; /* dynamic viewport height for mobile */
  overflow: hidden; /* lock scrolling */
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* top, middle, bottom spacing */
  align-items: center;
  height: 100dvh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
